h1 {
  font-family: Snippet;
  font-size: 100px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 1.2px;
  text-align: center;
  color: whitesmoke;
}



/*---mouse hover custom-----*/


html {
  background: url(dartbewerkt.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

table {
  
  border-collapse: separate;
  border-spacing: 6px;
  min-height: 770px;
  color: white;
  table-layout: fixed;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

table tr th,
table tr td {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 10px;
  text-align: middle;
  

}

table tr th:first-child,
table tr td:first-child {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
  text-decoration: underline; 
 


}

table tr th {
  background: #eee;
  text-align: middle;
  color: black;
  font-size: x-large;

}

/*highlight color mouse hover over row */
table tr:hover {
  background-color: #F08080;
  opacity: 0.7;
}


/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}



/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  
 
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
 
 
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
 
  
/* 
POSITION
*/
position: absolute;
  right: 90px;
  top: 115px;
}


.rocker::before {
  
  content: "";
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
  border-top-left-radius:  6px;
  border-top-right-radius:  6px;
  ;
  
  
}


.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
  
 
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;

}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: red;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
  
 
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: green;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
  

}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}


/* 
CLEAR BUTTON
*/

.myButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, red 100%);
	background-color:red;
	border-radius:3px;
	border:1px solid red;
	display:inline-block;
  color:#ffffff;
	font-family:Verdana;
	font-size:29px;
	font-weight:bolder;
	padding:30px 60px;
	text-decoration:none;
  text-shadow:0px 1px 0px #854629;
  position: absolute;
  right: 90px;
  top: 260px;


}

